<a href="https://colab.research.google.com/github/MohammadImran898/Python_assmt1/blob/main/pandas_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
cf=pd.read_csv('iris.csv')
df=pd.DataFrame(cf)

In [10]:
import numpy as np
df['sepal.length'][3:6]=np.nan

<ipython-input-10-0f218e5dedcc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sepal.length'][3:6]=np.nan

In [18]:
df['sepal.length'].fillna(df['sepal.length'].mean(),inplace=True)

In [19]:
df.isna().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [25]:
df['Gender']='Female'
df.iloc[0:6,5]='Male'
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety  Gender
0        5.100000          3.5           1.4          0.2     Setosa    Male
1        4.900000          3.0           1.4          0.2     Setosa    Male
2        4.700000          3.2           1.3          0.2     Setosa    Male
3        5.860544          3.1           1.5          0.2     Setosa    Male
4        5.860544          3.6           1.4          0.2     Setosa    Male
..            ...          ...           ...          ...        ...     ...
145      6.700000          3.0           5.2          2.3  Virginica  Female
146      6.300000          2.5           5.0          1.9  Virginica  Female
147      6.500000          3.0           5.2          2.0  Virginica  Female
148      6.200000          3.4           5.4          2.3  Virginica  Female
149      5.900000          3.0           5.1          1.8  Virginica  Female

[150 rows x 6 columns]

In [28]:
def f(s):
  if s=='Male':
    return 0
  else:
    return 1
  
df['sex']=df['Gender'].apply(f)

   sepal.length  sepal.width  petal.length  petal.width variety Gender  sex
0      5.100000          3.5           1.4          0.2  Setosa   Male    0
1      4.900000          3.0           1.4          0.2  Setosa   Male    0
2      4.700000          3.2           1.3          0.2  Setosa   Male    0
3      5.860544          3.1           1.5          0.2  Setosa   Male    0
4      5.860544          3.6           1.4          0.2  Setosa   Male    0

In [29]:
df.tail()

,sepal.length,sepal.width,petal.length,petal.width,variety,Gender,sex
145,6.7,3.0,5.2,2.3,Virginica,Female,1
146,6.3,2.5,5.0,1.9,Virginica,Female,1
147,6.5,3.0,5.2,2.0,Virginica,Female,1
148,6.2,3.4,5.4,2.3,Virginica,Female,1
149,5.9,3.0,5.1,1.8,Virginica,Female,1

In [30]:
df.groupby("variety").apply(lambda x:x)

,sepal.length,sepal.width,petal.length,petal.width,variety,Gender,sex
0,5.100000,3.5,1.4,0.2,Setosa,Male,0
1,4.900000,3.0,1.4,0.2,Setosa,Male,0
2,4.700000,3.2,1.3,0.2,Setosa,Male,0
3,5.860544,3.1,1.5,0.2,Setosa,Male,0
4,5.860544,3.6,1.4,0.2,Setosa,Male,0
...,...,...,...,...,...,...,...
145,6.700000,3.0,5.2,2.3,Virginica,Female,1
146,6.300000,2.5,5.0,1.9,Virginica,Female,1
147,6.500000,3.0,5.2,2.0,Virginica,Female,1
148,6.200000,3.4,5.4,2.3,Virginica,Female,1
149,5.900000,3.0,5.1,1.8,Virginica,Female,1

In [32]:
df2=df.copy()

In [40]:
df2['Marital_status']='Single'
df2.iloc[2:50,7]='Married'
df3=[df,df2]
res=pd.concat(df3)

sepal.length        0
sepal.width         0
petal.length        0
petal.width         0
variety             0
Gender              0
sex                 0
Marital_status    150
dtype: int64

In [42]:
df.variety.unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)